<div class="grid flex justify-content-center flex-wrap card">
  <div class="col-10 md:col-6 lg:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input
              class="col-12"
              pInputText
              id="usuario"
              [(ngModel)]="requestLogin.login"
            />
            <label htmlFor="usuario">Usuário</label>
        </span>
        </div>
        <div class="col-12 senha">
          <span class="p-float-label">
            <input
              class="col-12"
              pInputText
              id="senha"
              type="password"
              [(ngModel)]="requestLogin.password"
            />
            <label htmlFor="senha">Senha</label>
        </span>
        </div>
        <div class="col-12 acessar">
          <button
            (click)="doLogin()"
            pButton
            type="button"
            label="Acessar"
            icon="pi pi-check"
            class="col-12"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
